[submodule "bsg_f1"]
	path = bsg_replicant
	url = git@github.com:bespoke-silicon-group/bsg_replicant.git
[submodule "bsg_manycore"]
	path = bsg_manycore
	url = git@github.com:bespoke-silicon-group/bsg_manycore.git
[submodule "basejump_stl"]
	path = basejump_stl
	url = git@github.com:bespoke-silicon-group/basejump_stl
[submodule "aws-fpga"]
	path = aws-fpga
	url = git@github.com:aws/aws-fpga.git
[submodule "verilator"]
	path = verilator
	url = https://github.com/verilator/verilator.git
[submodule "black-parrot"]
	path = black-parrot
	url = git@github.com:black-parrot/black-parrot.git
